*{
    margin:0;
    padding:0;
    box-sizing : border-box
}

.header {
    display:flex;
    border: 1px solid black;
    justify-content : space-between;
    padding:10px;
}
.logo {
    width:130px;
    height:80px;
}

.nav-items {
    display:flex;
    align-items : center
}
.nav-items > ul{
    display:flex;
    list-style:none;
}
.nav-items > ul > li {
    font-size:24px;
    padding:0px 10px;
  
}

.cards-container{
    display:flex;
    flex-wrap:wrap;
}

.search-container{
    padding:10px;
}

.rest-card{
    width:200px;
    margin:5px;
    padding:5px;
    background: #f0f0f0;
}
.rest-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    cursor: pointer;
}
.food-img{
width:100%;
}
.card-title{
    font-size:18px;
    padding:5px;
}